@CHARSET "UTF-8";


ul.gallery{
	overflow: hidden;
	padding: 5px;
	list-style: none;
	display:table;
}

ul.gallery > li, 
ul.gallery a {
	width:144px;
	height:144px; 
}

ul.gallery > li{
	float: left;
	font-size: 10px;
	list-style: none;
	margin: 5px;
	float:left;
}

ul.gallery a {
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
}

ul.gallery li a img {
	border: 1px solid transparent;
}

ul.gallery li a:hover img {
	border-color: #CCCCCC;
}